@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a01;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: rgb(24 24 27);
  font-family: Arial, Helvetica, sans-serif;
    background-image: url("/assets/noise.png");
}

.noise{
  background-image: url("/assets/noise.png");
}


.responsiveDiv {
 
  top: calc(100dvh - 12rem); /* Default for mobile */
}

@media (min-width: 768px) {
  .responsiveDiv {
    top: calc(100dvh - 24rem); /* Adjust for desktop */
  }
}
